
.article {
  color: black;
  margin-bottom: 20px;
}

.article h3 {
  color: black;
  margin-top: 0;
  font-size: 20px;
}

.article p {
  margin-bottom: 10px;
}

.read-more {
  display: inline-block;
  padding: 8px 16px;
  background-color: #555;
  color: #fff;
  text-decoration: none;
  border: none;
}

.read-more:hover {
  background-color: #777;
}
.scroll{
  overflow-y: scroll;
}